COMPOSE_PROJECT_NAME=alfa-hackiton

BACKEND_CONTAINER_NAME=alfa-hackiton-backend-prod
BACKEND_PORT=5000

DB_PATH=/app/data/app.db

OPENROUTER_API_KEY=
OPENROUTER_TIMEOUT_SECONDS=60
OPENROUTER_MAX_RETRIES=3
OPENROUTER_RETRY_SECONDS=20
OPENROUTER_REQUEST_DELAY_SECONDS=0
